section {
  height: 100vh;
  margin: 0 auto;
  padding-top: 3rem;
}

#controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#prev,
#next {
  border: none;
  height: 5rem;
  width: 8rem;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  margin-top: 5rem;
}
#prev:hover,
#next:hover {
  background-color: var(--white);
  color: var(--black);
}

#current {
  width: 108rem;
  height: 68.5rem;
  margin: 2rem auto;
}
